body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #eee;
  justify-content: center;
  align-items: center;
}
div {
  position: relative;
}
canvas {
  border: 1px solid #fff;
  z-index: 0;
  position: relative;
  z-index: 1;
}
svg#canvas {
  border: 1px solid #fff;
  line,
  circle:not([data-edit]),
  path {
    stroke-width: 3px;
  }
  &.select-mode {
    line,
    circle,
    path {
      &:hover {
        stroke: blue;
      }
    }
  }
}

p {
  width: 500px;
  padding: 0;
  margin: 0;
}

#timeline {
  width: 500px;
  height: 15px;
  position: relative;
}
#timeline .point {
  height: 11px;
  width: auto;
  background: black;
  border-radius: 5px;
  aspect-ratio: 1;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}
